@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

:root {
  --blue: #16a1b7;
  --blue-hover: #138597;
  --dark-blue: #241d46;
  --grey: #e9e9e9;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

@media (max-width: 768px) {
  .mobile-box {
    display: none;
  }
}

.btn-style {
  background-color: var(--blue);
  padding: 0.5rem 2rem;
  color: white;
  border-radius: 0.35rem;
  border: 1px solid var(--blue);
  transition: all 250ms;
}

.transparent-style {
  background-color: transparent;
  color: white;
  border: 1px solid;
}

.text-white {
  color: white;
}

a.btn-style {
  text-decoration: none;
  display: block;
  width: max-content;
}

.btn-style:hover {
  color: var(--blue);
  background-color: white;
}

section {
  margin-bottom: 3rem;
}

html,
body {
  margin: 0;
}

/* .banner-bg {
  cursor: url("../images/cursor2.png"), auto !important;
} */

* {
  font-family: "Syne", sans-serif;
}

/* Anasayfa */

.banner {
  width: 100%;
  height: 100vh;
  min-height: 30rem;
}

.banner .container {
  width: 100%;
  height: 100%;
  position: relative;
}

.banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  background-image: url("../images/banner.png");
  background-size: cover;
  background-position: center;
  /* user-select: none !important;
  -webkit-user-drag: none !important; */
}

.banner-content {
  position: absolute;
  width: 100%;
  z-index: 1;
  bottom: 1rem;
  left: 0;
  right: 0;

  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.banner-form-area {
  background-color: white;
  width: 100%;
  height: auto;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  border-radius: 0.6rem;

  padding: 1.25rem 2rem;
}

@media (min-width: 576px) {
  .banner-content {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .banner-content {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .banner-content {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .banner-content {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .banner-content {
    max-width: 1320px;
  }
}

.words {
  flex-wrap: wrap;
  gap: 1rem;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.words span {
  opacity: 0.7;
}

.form-header {
  display: flex;
  align-items: end;
  gap: 1rem;
  justify-content: space-between;
}

.form-header * {
  margin: 0;
  text-decoration: none;
  color: black;
}

.form-area {
  display: flex;
  align-items: end;
  gap: 1rem;
}

.form-area label {
  font-size: 1.1rem;
  margin-bottom: 0.25rem;
}

.form-area .form-group {
  width: 100%;
}

.form-group .input-group {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  border: 1px solid var(--grey);
  border-radius: 0.35rem;
  height: 2.5rem;
  overflow: hidden;
}

.input-group input {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 0.5rem;
  border: none;
  border-right: 2px solid var(--grey);
}

.center input {
  text-align: center;
}

.input-group input:first-child {
  border-top-left-radius: 0.35rem;
  border-bottom-left-radius: 0.35rem;
}

.input-group input:last-child {
  border-top-right-radius: 0.35rem;
  border-bottom-right-radius: 0.35rem;
  border-right: none;
}

.form-area button {
  height: 2.5rem;
  padding-top: 0;
  padding-bottom: 0;
}

.form-area button:hover {
  /* background-color: var(--blue-hover); */
}

.form-body {
  border-bottom: 1px solid var(--grey);
  padding-bottom: 2rem;
}

.one-input {
  width: 100%;
  height: 100%;
  position: relative;
}

@media (max-width: 992px) {
  .form-area {
    flex-direction: column;
    align-items: center;
  }

  .form-area > *,
  .form-area button {
    width: 100%;
  }

  .words {
    font-size: 0.75rem;
    justify-content: center;
    gap: 0.5rem 1rem;
  }
}

@media (max-width: 768px) {
  .form-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0;
  }
}

.error-border {
  background-color: #ff00003b !important;
}

/* Hakkımızda */

.about-left {
  padding-right: 10rem;
}

.about-left .content {
  margin-bottom: 1.25rem;
}

.about-left .content > *:last-child {
  margin-bottom: 0;
}

.slide-images img {
  width: 100%;
  object-fit: cover;
  height: 35rem;
  border-radius: 0.6rem;
}

.slide-images .swiper-slide:not(.swiper-slide-active) {
  opacity: 0 !important;
}

.about-right {
  position: relative;
}

.slide-images {
  width: 100%;
  height: 100%;
}

.thumb-slider {
  position: absolute;
  width: 100%;
  bottom: -2rem;
  left: 1rem;
  z-index: 2;
}

.thumb-slider {
  display: flex;
  gap: 1rem;
}

.thumb-slider div {
  cursor: pointer;
  transition: all 250ms;
}

.thumb-slider div:not(.active) {
  opacity: 0.75;
  filter: grayscale(1);
}

.thumb-slider img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 1rem;
}

@media (max-width: 1200px) {
  .about-left {
    padding-right: 0rem;
  }
  .slide-images img {
    height: 28rem;
  }
  .thumb-slider img {
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
  }
}

@media (max-width: 992px) {
  .content {
    font-size: 0.85rem;
  }
  .slide-images img {
    height: 25rem;
  }
}

@media (max-width: 768px) {
  .content {
    font-size: 0.95rem;
  }
  .thumb-slider {
    justify-content: center;
    left: 0;
    right: 0;
  }
  .thumb-slider img {
    width: 5.8rem;
    height: 5.8rem;
  }

  .about-mobile-right {
    margin-top: 2rem;
  }
}

@media (max-width: 576px) {
  .slide-images img {
    height: 18rem;
  }
  .thumb-slider img {
    width: 5rem;
    height: 5rem;
  }
}

/* Markalar */

.brands-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.brands-flex div {
  width: calc(50% - 0.5rem);
  height: 6rem;
  border: 1px solid var(--grey);
  box-shadow: 0 0 1px rgb(0, 0, 0, 0.5);
  border-radius: 0.6rem;
  padding: 1.5rem;
}

.brands-flex img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 992px) {
  .brand-mobile-right {
    margin-top: 2rem;
  }
}

/* Tekne Markaları */

.boat-bg {
  background-color: var(--dark-blue);
  padding: 4rem 0;
}

.boats-header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 1rem;
}
.boats-header > * {
  margin: 0;
}

.boats-header a {
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .boats-header {
    flex-direction: column;
    gap: 0;
    text-align: center;
    align-items: center;
  }
}

.boats-body > div {
  padding: 0.5rem 0 !important;
}

.boats-body .boat-item {
  /* width: calc((100% / 3) - .67rem); */
  height: 30rem;
  box-shadow: 0 0 5px rgb(255, 255, 255, 0.5);
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  transform: scale(0.92);

  transition: all 250ms;
}

.boats-body .boat-item.swiper-slide-next {
  transform: scale(1);
}

.boats-body .boat-item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: transparent;
  top: 0;
  bottom: 0;
  display: block;
}

.boats-body .boat-item:not(.swiper-slide-next):after {
  background-color: #241d4657;
}

.boats-body .boat-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boats-body .boat-item a {
  position: absolute;
  bottom: -100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: var(--blue);
  color: white;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 0.8rem 2rem;
  font-size: 1.15rem;
  border-radius: 0.8rem;

  z-index: 9;

  transition: all 250ms;
}

.boats-body .boat-item a:hover {
  background-color: var(--blue-hover);
}

.custom-boats-arrow {
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 0.65rem;
}

.custom-boats-arrow > div {
  width: 3rem;
  height: 3rem;
  background-color: var(--blue);
  font-size: 1.35rem;
  border-radius: 50%;

  border: 1px solid transparent;

  cursor: pointer;

  transition: all 250ms;

  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-boats-arrow > div.swiper-button-lock {
  background-color: transparent;
  border-color: white;
  cursor: no-drop;
}

.custom-boats-arrow > div:not(.swiper-button-lock):hover {
  background-color: var(--blue-hover);
}

@media (max-width: 1200px) and (min-width: 768px) {
  .boats-body .boat-item {
    transform: scale(1);
  }
  .boats-body .boat-item:after {
    background-color: transparent !important;
  }
  .boats-body .boat-item a {
    bottom: 1rem !important;
  }
}

@media (min-width: 768px) {
  .boats-body .boat-item.swiper-slide-next a {
    bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .boats-body .boat-item.swiper-slide-active:after {
    background-color: transparent !important;
  }
  .boat-item {
    transform: scale(0.92);
  }
  .boat-item.swiper-slide-active {
    transform: scale(0.98);
  }

  .boats-body .boat-item.swiper-slide-active a {
    bottom: 1rem;
  }
}

/*  */

.module-header {
  display: flex;
  align-items: start;
  margin-bottom: 1.5rem;
}

.module-header.center {
  align-items: center;
}

.module-header > * {
  width: 50%;
  margin: 0;
}

.module-header a {
  color: black;
  opacity: 0.8;
  text-decoration: none;
}

.module-header a:hover {
  opacity: 1;
  text-decoration: underline;
}

.module-header p {
  font-size: 0.85rem;
}

@media (max-width: 992px) {
  .module-header {
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    text-align: center;
  }
  .module-header > * {
    width: 100%;
  }
}

.image-list {
  display: flex;
  gap: 1rem;
}

.image-list > div {
  width: calc((100% / 4) - 0.75rem);
  border-radius: 1rem;
  overflow: hidden;
  height: 33rem;
}

.image-list img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .image-list > div {
    height: 25rem;
  }
}

@media (min-width: 992px) {
  .image-list > div:nth-child(even) {
    transform: translateY(2rem);
  }
}

@media (max-width: 992px) {
  .image-list {
    flex-wrap: wrap;
  }

  .image-list > div {
    width: calc((100% / 2) - 0.5rem);
  }
}

@media (max-width: 576px) {
  .image-list > div {
    height: 17rem;
  }
}

.boat-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.boat-item {
  width: calc((100% / 3) - 0.67rem);
  height: auto;
  overflow: hidden;
  box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.boat-image {
  width: 100%;
  height: 14rem;
  position: relative;
}

.boat-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.boat-content * {
  margin: 0;
}

.boat-content {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.boat-content h3 {
  font-size: 1.45rem;
}

.boat-info {
  width: 100%;
}
.boat-price {
  width: 7rem;
}

.boat-content span {
  opacity: 0.7;
  font-size: 0.85rem;
}

.boat-price .price {
  color: var(--blue);
  font-weight: 600;
  font-size: 1.35rem;
}

.boat-price span {
  font-size: 0.95rem;
  font-weight: 400;
  color: var(--blue);
}

.boat-links {
  padding: 1rem;

  display: flex;
  gap: 1rem;
}

.boat-links > * {
  width: 100% !important;
  text-align: center;
}

.boat-status {
  position: absolute;
  top: 1rem;
  left: 0;
  background-color: #16a1b7;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 0 1rem 1rem 0;
  font-size: 0.75rem;
}

@media (max-width: 1200px) {
  .boat-content h3 {
    font-size: 1.25rem;
  }
  .boat-price {
    width: 5rem;
  }

  .boat-content span {
    font-size: 0.75rem;
  }

  .boat-price .price {
    font-size: 1.15rem;
  }

  .boat-price span {
    font-size: 0.85rem;
  }

  .boat-image {
    height: 12rem;
  }

  .boat-item .boat-links {
    gap: 0.5rem;
    padding-top: 0;
  }

  .boat-item .btn-style {
    font-size: 0.75rem;
  }
}

@media (max-width: 992px) {
  .boat-item {
    width: calc(50% - 0.5rem);
  }
}

@media (max-width: 768px) {
  .boat-item {
    width: 100%;
  }
}

.news-item {
  width: 100%;
  height: 25rem !important;
  border-radius: 1rem;
  overflow: hidden;
}

.news-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.news-item:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgb(0, 0, 0, 0.35);
  z-index: 2;
  top: 0;
  left: 0;

  transition: background-color 250ms;
}

.news-item-content {
  position: relative;
  padding: 1rem;
  z-index: 5;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  transition: gap 250ms;
}

.news-item-content * {
  margin: 0;
  color: white;
}

.news-item:hover:after {
  background-color: rgb(0, 0, 0, 0.7);
}

.news-item:hover .news-item-content {
  gap: 4rem;
}
